fullstack-challenge/.vs/fullstack-challenge/v16/.suo
fullstack-challenge/fullstack-challeng.data/bin/Debug/
fullstack-challenge/fullstack-challeng.data/obj/project.nuget.cache
fullstack-challenge/fullstack-challeng.data/obj/Debug/
fullstack-challenge/fullstack-challeng.service/bin/Debug/
fullstack-challenge/fullstack-challeng.service/obj/project.nuget.cache
fullstack-challenge/fullstack-challeng.service/obj/Debug/
fullstack-challenge/fullstack-challenge/bin/Debug
fullstack-challenge/fullstack-challenge/bin/Debug/
fullstack-challenge/fullstack-challenge/obj/project.nuget.cache
fullstack-challenge/fullstack-challenge/obj/Debug/
fullstack-challenge/fullstack-challenge.domain/bin/Debug/
fullstack-challenge/fullstack-challenge.domain/obj/project.nuget.cache
fullstack-challenge/fullstack-challenge.domain/obj/Debug/
fullstack-challenge/fullstack-challeng.data/obj/Debug/
fullstack-challenge/fullstack-challeng.service/obj/Debug/
fullstack-challenge/fullstack-challenge/obj/Debug/
fullstack-challenge/fullstack-challenge/obj/Debug/
fullstack-challenge/fullstack-challenge.domain/obj/Debug/
